[2021-10-14 16:01] humphd opened #8 "Find better dark mode highlight colour"
In #3 we changed the overall colours to use Seneca's white/red theme.  It works well in light mode, but dark mode is an issue:

<img width="1301" alt="Screen Shot 2021-10-14 at 12 00 40 PM" src="https://user-images.githubusercontent.com/427398/137354488-3da8fbc1-4acb-40b0-998e-2744af9eba84.png">

We need to figure out what the Seneca-sanctioned approach to dark mode is.  Red-on-Black isn't going t

[2021-10-15 00:54] #8 closed

[2021-10-21 17:49] humphd opened #10 "Implement Search"
Docusaurus has a really cool [search](https://docusaurus.io/docs/search) feature, which can be integrated with the site.  We'd like to add search, so it would be great if someone can pick this up.

[2021-10-21 17:50] humphd opened #11 "Add Progressive Web App (PWA) support"
Docusaurus has a [PWA plugin](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-pwa) which adds a service worker in production builds, and can allow the app to be installed and run offline.  Let's add this so users can work with the site offline.

[2021-10-21 17:54] humphd opened #12 "Investigate using the ideal image plugin"
Docusaurus has a cool plugin you can use for generating [ideal image sizes/formats](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-ideal-image) when doing a production build.  We could use it to create responsive images for various screen sizes.

At this point, a lot of our images are small, but it would be interesting to experiment with this feature in a few places, and learn how it wo

[2021-10-21 17:56] humphd opened #13 "Create GitHub Actions Workflow for Deployment"
We'd like to have the production site get updated automatically on every `push`/`merge` to the `main` branch.  It would be ideal if we could do this automatically using GitHub Actions.  [Docusaurus has docs for this](https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions) that someone should research and implement.  You can test it out in your own fork and make sure it wor

[2021-10-21 19:47] humphd opened #14 "PDF Export of full text"
One thing we'd like to support is a PDF export of the entire text.  It looks like there isn't an official way to do this, but there are some community attempts:

* https://github.com/kohheepeace/mr-pdf
* https://github.com/signcl/docusaurus-prince-pdf

Let's experiment and see how well we can make this work.

[2021-10-27 15:36] humphd opened #16 "Increase Table of Contents depth"
It's possible to configure the min/max depth of the table of contents (e.g., how many heading levels to show), see https://docusaurus.io/docs/api/themes/configuration#table-of-contents.  We use up to 4 levels (i.e., `h4` or `####`) but the final level isn't being displayed.  Let's fix this.  An example page is `docs/B-Computations/logic.md`.

[2021-10-27 15:40] humphd opened #17 "Convert Weekly Schedule to better format"
The Weekly Schedule is currently a table, but a list more similar to what we have in Table of Contents would probably make more sense, since we have unnecessary rows.

[2021-10-27 16:15] humphd opened #18 "[meta] Audit and Fix all Markdown Pages"
This is a meta issue, meant to organize the work necessary to audit and fix all existing markdown pages in `docs/`.  If you want to work on this, the first step is to ***file a new issue for a given page*** and then leave a comment here with a link to the issue and name of the file you're working on.

## Introduction

The IPC C notes are written in 30 Markdown files.  These files have been automat

[2021-10-29 19:28] #17 closed

[2021-10-30 22:15] trangntt-016 commented on #13
Hi @humphd ,

I have never done Github Actions Workflow before. I'm interested in trying it!

[2021-10-31 13:35] humphd commented on #13
@trangntt-016 I love your attitude and willingness to try something new, well done!  Absolutely, you can take this issue.  NOTE: we're going to be working with GitHub Actions soon in our open source course as well.

[2021-10-31 22:02] menghif commented on #16
I would like to take this one.

[2021-10-31 22:20] humphd commented on #16
All you @menghif, go for it.

[2021-11-01 02:10] humphd commented on #18
To any OSD600/DPS909 students looking to get involved, this is a great issue to join.  Let me know if you want to help out, and I'll assign you one of the pages.

[2021-11-01 15:37] AndreWillomitzer commented on #18
Hi sir I want to work on this but the checklist is a little overwhelming. These are just suggestions of what to look for right? For example we could go down the list, and if we find 3 or 4 to fix and they're smaller issues we could maybe let others handle some issues on the same page?

I am familiar with the C notes themselves since I tutored the class if that helps at all.

[2021-11-01 15:39] humphd commented on #18
@AndreWillomitzer correct, these are the types of things we want to look at in the various files.  Why don't you take one, and try looking for things, and see what you find.  If there are 50 issues that have to be fixed, you could fix some, and file issues for others to fix in additional PRs.  This will be a team sport!

It's awesome that you know the C notes so well, that will be a huge help.  Th

[2021-11-01 15:47] Kevan-Y opened #24 "Add Prettier as source code formatter"
Adding [Prettier](https://prettier.io/docs/en/install.html) will allow us to have a general styling for every contributor that works on this  project.

[2021-11-01 15:52] humphd commented on #24
Let's include a `.vscode/` directory with settings and plugin recommendations, and also add a Husky-based git pre-commit hook so this always gets run.

[2021-11-01 15:55] AndreWillomitzer commented on #18
Unless you have a suggestion of a page where you know there are a few things I will have to fix.

[2021-11-01 17:43] menghif opened #25 "Broken links in README"
All markdown files are in [docs](https://github.com/Seneca-ICTOER/IPC144/tree/main/docs). The links in the [README](https://github.com/Seneca-ICTOER/IPC144/blob/main/README.md) should be fixed to reflect that.

[2021-11-01 17:58] humphd commented on #25
Nice catch.

[2021-11-01 17:59] humphd commented on #18
@AndreWillomitzer `functions.md` sounds good.  Go ahead and file an issue for this, (you can copy/paste the text at the top of this, but limit it to that single file).  I'll assign you.

[2021-11-01 19:22] AndreWillomitzer opened #26 "auditing markdown file "functions.md""
I would like to audit the file functions.md using the below checks as a guideline:

* Look for any typos
* Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
* Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
* Check the page in a Mobile browser. Does it lo

[2021-11-01 19:24] AndreWillomitzer commented on #18
@humphd Hi sir I filed the issue. Which checks do you think would be the best to start with/most likely to have issues in the pages? I was thinking alt tags would be one.

[2021-11-01 19:29] humphd commented on #18
@AndreWillomitzer just start working through and check as many as you can.  Every page is different in terms of what it needs.  Part of what you're doing at first is identifying the scope of the work.

[2021-11-01 19:35] AndreWillomitzer commented on #26
Found Issue List:
#### Uncolored Code?
![image](https://user-images.githubusercontent.com/36431357/139730480-9080ddc6-ff8a-45c8-af6b-cf97dd656a63.png)

Should this be the case? On the IPC website it has them all the same brown color. Some things are colored and some are not on these MD pages.

[2021-11-01 19:38] AndreWillomitzer commented on #18
@humphd Not sure if what I found is really an issue or not, I notice on the pages some code is colored some is not. The huge blocks have syntax highlighting, but the single inline codes don't.

[2021-11-01 19:40] humphd commented on #26
All large blocks of code should be syntax highlighted, yes.  The individual words won't be.

[2021-11-01 19:41] AndreWillomitzer commented on #26
Oh okay so it's not actually a bug where the individual little main() and printf() ones aren't colored. I see.

[2021-11-01 19:41] humphd commented on #18
That's normal.  You can't specify a syntax for single backtick inline blocks.  Only the three-backtick ones have a syntax type.

[2021-11-01 20:17] AndreWillomitzer commented on #26
@humphd I think I found a couple errors now if you don't mind peeking :)

What do you think about the suggestions I made namely the last one about Walkthrough and the line about coercion being simplified? I'm just going based on how it's worded it's a little bit confusing.

[2021-11-02 01:58] oliver-pham opened #28 "Audit & fix `algorithms.md` page"
This is a sub-issue of https://github.com/Seneca-ICTOER/IPC144/issues/18

## Check List

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in a Mobil

[2021-11-03 18:23] hlavu opened #29 "Audit and fix `string-library.md` page"
I would like to audit and fix the `string-library.md` page based on tasks listed below.

### Tasks:

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the pag

[2021-11-03 18:45] humphd commented on #29
OK, sounds good, I've assigned you.

[2021-11-03 21:48] Kevan-Y commented on #25
Anyone working on this? If not Can work on it?

[2021-11-03 21:48] humphd commented on #25
Go for it, @Kevan-Y.

[2021-11-04 01:18] mqnguyen5 commented on #24
I'm willing to give this one a shot. Can you give me more details on what should be added?

[2021-11-04 02:57] JerryHue opened #31 "Let examples be runnable and editable"
# The feature
A nice addition that, I believe, would greatly enhance the learning experience is giving the option to run and modify the examples available.

There are several examples of this:
* MDN documentation for JavaScript examples, i.e. [Object.prototype.toString], [Array.prototype.forEach],
* the [Learn Rust] (although this one does not feature editable examples) book and the [Rust By Examp

[2021-11-04 14:21] #11 closed

[2021-11-04 14:25] #16 closed

[2021-11-04 14:31] #25 closed

[2021-11-04 14:39] Kevan-Y opened #32 "Find better resolution icon"
Follow up of #11

Our current PWA icons in (.static/img/pwa) using a low resolution and blurry icon. We want to replace that to a higher resolution.

[2021-11-04 14:40] a-rokay opened #33 "Audit and Fix `input-functions.md`"
I'd like to work on `input-functions.md`, auditing it based on this checklist:

* Look for any typos
* Make sure all Markdown is correctly done.  The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
* Check the page in a Desktop browser.  Does it look OK?  Are there any issues that need to be fixed?
* Check the page in a Mobile browser.  Does it lo

[2021-11-04 14:41] a-rokay commented on #18
I can work on `input-functions.md`, [issue](https://github.com/Seneca-ICTOER/IPC144/issues/33).

[2021-11-04 14:59] humphd opened #34 "Explore offline caching without installation"
In #22 we landed initial support for running the site as a PWA, and it uses https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-pwa.  The default behaviour of the plugin is to cache the site for offline use when installed.  I wonder if we should consider doing this by default, since most people don't/won't install (it's a new feature not everyone knows about).

Another thing we could try is

[2021-11-04 15:03] humphd opened #35 "Don't use 4th heading level for Examples"
In #16 @menghif added support for 4 heading levels of depth in the table of contents.  Doing so we also noticed that some pages are using a 4th level heading for `Example` and it's probably not a great idea (e.g., we should just use bold text, so it doesn't get added to the toc).

Here are the files/lines doing this:

[code]

And here's the list of every file/line that uses a 4th level indent:

[c

[2021-11-04 15:14] humphd commented on #31
@JerryHue this is a really interesting idea.  I've had a similar thought (see https://github.com/humphd/ipc-wasm-test), but didn't explore making it interactive.

I spoke with @CameronGray1210 about this today in our triage meeting, and we had some thoughts:

1. We think this is worth exploring.  The idea of embedding a code-compile-run interactive loop into the experience could be compelling.  I'

[2021-11-04 15:19] humphd commented on #24
@mqnguyen5 I would look at how [Docusaurus uses Prettier on GitHub](https://github.com/facebook/docusaurus) and use that as a guide.

This is very similar to your lab.  We need:

- add prettier to dependencies
- prettier config file
- prettier ignore file to skip anything we don't want touched
- changes to the npm scripts to include prettier
- git hook with Husky to run prettier on every commit
-

[2021-11-04 15:24] mqnguyen5 commented on #24
Aside from that, is there a specific sets of formatting rules that I should include in the `.prettierrc`?

[2021-11-04 15:30] humphd commented on #24
Use what we have in Telescope

[2021-11-04 15:47] menghif commented on #35
I'll do this today

[2021-11-04 15:52] JerryHue opened #36 "Audit and fix `pointers.md` page"
This is an sub-issue of #18.

# TO-DO

- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [ ] Check the page in a Mobile browser. Does it look OK? Are there any issues t

[2021-11-04 17:50] #35 closed

[2021-11-04 19:08] minhhang107 opened #38 "Audit and fix `a-simple-calculation.md` page"
I'd like to audit and fix the `a-simple-calculation.md` page based on tasks listed below.

Tasks:

- [x]  Look for any typos
- [x]  Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x]  Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x]  Check the p

[2021-11-04 19:13] humphd commented on #38
Great, go for it!

[2021-11-05 16:31] trangntt-016 commented on #13
thanks @humphd <3

[2021-11-05 17:55] gusmccallum commented on #32
Hi I'd like to work on this, please assign it to me.

[2021-11-05 18:20] humphd commented on #32
Awesome, thanks @gusmccallum.  Assigned.

[2021-11-05 18:25] gusmccallum opened #39 "Audit and fix expressions.md Page"
I'd like to work on expressions.md from B - Computations, keeping in mind the following criteria:

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page

[2021-11-05 18:30] humphd commented on #39
Awesome, all yours.

[2021-11-05 18:41] TueNguyen2911 commented on #14
Hi, can I try tackling this?

[2021-11-05 19:13] humphd commented on #14
Yes, absolutely, go for it.

[2021-11-05 21:08] TueNguyen2911 commented on #14
I'm trying to find our Docusaurus version but couldn't. Are we using Docusaurus v2 or v1?

[2021-11-05 21:37] humphd commented on #14
v2, see https://github.com/Seneca-ICTOER/IPC144/blob/main/package.json#L18

[2021-11-05 21:40] TueNguyen2911 commented on #14
Thank you, I got it when I ran it

[2021-11-06 04:20] aserputov commented on #12
Hey, I would like to work on this issue. Could you please assign me?

[2021-11-06 06:07] TueNguyen2911 commented on #14
After trying a few tools, I find that [mr-pdf](https://github.com/kohheepeace/mr-pdf) works well with Docusaurus v2 and it comes with multiple options.

This is the command line script I use:
[code]
I'm thinking of saving this entire script in the `scripts` property but it will be very long. I'm not sure if there's a better way to save the script.

You can take a look at the [pdf](https://drive.go

[2021-11-06 13:30] lyu4321 opened #40 "Audit and Fix `arrays.md`"
Hi, I'd like to audit and fix arrays.md as part of #18. I'll be working on the following tasks:

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in

[2021-11-06 14:55] humphd commented on #14
I would add `mr-pdf` as a `devDependency`, and then make a file called `convert-to-pdf.js` which is a node script calls `mr-pdf`

Or, you can write a shell script (`convert-to-pdf.sh` and `convert-to-pdf.bat`) that does your command line above with `npx`.  This is how VSCode does its scripts for cross-platform compatibility, see https://github.com/microsoft/vscode/tree/main/scripts.

The PDF you l

[2021-11-06 14:55] humphd commented on #12
@aserputov done

[2021-11-06 22:49] TueNguyen2911 commented on #14
Hi, here is the pdf [Seneca-IPC144.pdf](https://github.com/Seneca-ICTOER/IPC144/files/7491349/Seneca-IPC144.pdf)

[2021-11-06 23:58] GMOTGIT opened #42 "Audit and Fix operators.md"
Hello there,
I'd like to audit and fix operators.md as part of #18.
As David instructed I'll be working on the following tasks:

- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to b

[2021-11-07 01:57] humphd commented on #42
Perfect, thanks.

[2021-11-07 02:05] hphan9 opened #43 "Audit and Fix Compiler.md"
Hi team, I would like to work on the audit and fix Compilers.md.
Tasks:
[ ] Look for any typos
[ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
[ ]  Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
[ ]  Check the page in a Mobile browser. Does it look

[2021-11-07 03:43] Yoda-Canada opened #44 "Audit & fix Information.md page"
This is a sub-issue of #18.
I'd like to audit and fix the Information.md page based on tasks listed below.

## Check List
- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed

[2021-11-07 04:36] joshuali7536 opened #45 "Audit and Fix `computers.md`"
I would like to audit and fix the computers.md page. As mentioned in #18.

## Checklist
This Audit will include the following checks:
- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need

[2021-11-07 04:37] joshuali7536 commented on #18
Hi I can work on `computers.md`, seen in issue #45

[2021-11-07 12:42] aserputov opened #47 "Docusaurus Plugin to add PWA support."
While working on issue #12, I found that maybe it would be great to access the IPC144 resources on desktop&offline.
[This plugin](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-pwa) generates a Service Worker in production build only and allows you to create a fully PWA-compliant documentation site with offline and installation support.

Waiting for your opinions, here⤵️

[2021-11-07 13:26] humphd commented on #47
@aserputov yeah, it's awesome and @Kevan-Y has already added it and got it merged on `main` in #22.

[2021-11-07 13:26] #47 closed

[2021-11-07 13:27] humphd commented on #34
The more I think about this, I wonder if it's wrong to go this route, and to expect an install so we don't pull down huge amounts of data on a mobile request.  I'm going to close.

[2021-11-07 13:27] #34 closed

[2021-11-08 02:36] roman-rezinkin opened #49 "Audit and Fix `style-guidelines.md`"
I would like to work on `style-guidelines.md,` auditing it based on this checklist:
As mentioned in #18

### Done
- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x]

[2021-11-08 02:37] roman-rezinkin commented on #18
Hi, I can work on `style-guidelines.md`, as seen in #49

[2021-11-08 03:57] dbelokon opened #51 "Audit and fix `structures.md` page"
This issue is a sub-issue of #18

# TO-DO

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in a Mobile browser. Does it look OK? Are there any issu

[2021-11-08 03:59] dbelokon commented on #18
Hello!! Can I please work on `structures.md` page?  #51 😁

[2021-11-08 14:21] Reza9472 opened #52 "Audit and Fix logic.md"
This issue is a sub-issue of #18.

TO-DO
----

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in a Mobile browser. Does it look OK? Are there any

[2021-11-08 15:09] Reza9472 commented on #52
#18

[2021-11-08 19:31] kiennguyenchi opened #54 "Add Weekly Schedule to the page footer"
I want to add the hyperlink of **Weekly Schedule** to the page footer because the page footer is kind of blank right now with a link to **Contents** only.

In addition, I want to remove the hyperlink of  **Weekly Schedule**  in **Contents** page because we would have the hyperlinks of **Weekly Schedule** in both left navigation bar and footer.

[2021-11-08 19:31] kiennguyenchi commented on #54
Please review the issue, give me any feedback and assign it to me, thank you!

[2021-11-08 19:32] humphd commented on #54
Assigned.  Give it a shot and we'll review.

[2021-11-09 18:40] ycechungAI commented on #10
Im assuming you do not apply the usual method of implementing Algolia DocSearch​ by signing up at https://docsearch.algolia.com/apply/ then just enabling it

[2021-11-09 18:41] ycechungAI commented on #10
And do i run my own DocSearch crawler as suggested on the docusaurus website?

[2021-11-09 19:26] ycechungAI commented on #10
what do u want index_name to be? for now i have it as docusaurus.

[2021-11-09 22:15] mqnguyen5 opened #56 "Running Prettier against the docs caused breaking changes"
This is a sub-issue of #18 and #24.

## Settings

Prettier config file:

[code]

Prettier ignore file:

[code]

Scripts:

[code]

## Problem

When running `npm run prettier`, Prettier accidentally changes the **asterisk** `*` (used for representing multiplication) into `-` or `_`, as it thought that those `*` indicates a bulleted list or _italic_ letters

## Suggested Solutions:

For anyone who is

[2021-11-09 23:23] humphd commented on #10
Sounds reasonable

[2021-11-10 03:07] hphan9 commented on #43
There are some  issues when running the page through Lighthouse:
* Performance:  43%  I used incognito to test the page

[2021-11-10 04:37] JerryHue commented on #36
I believe I will have to create an issue to address the change of theme for the images. There are two problems at hand:

- "invert" the pallete of the images to adapt the dark theme. If we do a naive "invert" of the colors, we end up with images with really ugly palletes. Thus, we need to give the task of adapting the pallete to a person. However, manually editing every pixel will lead to insanity

[2021-11-10 06:09] JerryHue opened #57 "Adapt an image's pallete to the dark theme"
## The problem

Currently, all images and their palletes in the website are adapted to the light theme, but there is no variation of the images for the dark theme. Thus, we need a way to have a version of the image that has a pallete that fits the dark theme. If we do a simple invert of the colours, it results in a rather 'ugly' looking image. Thus, we need a person who can properly adapt the pall

[2021-11-10 13:02] humphd commented on #43
Are you running the built/production or development version?

[2021-11-10 13:57] humphd commented on #36
I think we can use https://docusaurus.io/docs/next/markdown-features/assets#themed-images for this.

[2021-11-10 16:29] JerryHue commented on #36
That's pretty nice. That fixes half of the issue, now we can focus on #57 to adapt the pallete of the images to the dark theme.

Also, I have a few questions related to tables:
* The first three questions are related to the following task:
    * > Tables that are really wide (types.md) could be converted to use SVG or flex/grid. Make wide visual tables fit in the available viewport. Another exampl

[2021-11-10 21:32] JerryHue opened #58 "Improve the design of the walkthrough tables"
Following the discussion I had with @dbelokon and @PananaPa, I learned that the design of the walkthrough table may be improved for better understanding.

## Current design

The current layout of a walkthrough table looks like this:

![Current walkthrough table](https://user-images.githubusercontent.com/53304516/141186979-54112f0d-420a-46e3-860e-7473558d8d62.png)

and in the old version of the not

[2021-11-10 23:31] #26 closed

[2021-11-11 00:02] humphd commented on #32
Fixed by https://github.com/Seneca-ICTOER/IPC144/pull/53. @gusmccallum when you do a PR to fix an issue, use the text "Fixes #..." in the description so GitHub autocloses it when we merge.

[2021-11-11 00:02] #32 closed

[2021-11-11 01:43] hphan9 commented on #43
I am running development version with yarn start.

[2021-11-11 06:16] ycechungAI commented on #10
The general settings I commited is standard.
Things to note is you need to create an index named "docusaurus".
You need the main api_key to have ACLs search, addObject, deleteObject, editSearch - is this the .env or config.json file
![image](https://user-images.githubusercontent.com/55400510/141247456-8837f005-ef43-4a4f-9539-0b1828fa5d44.png)
You need a secondary api_key to do the searching with A

[2021-11-11 06:31] ycechungAI commented on #58
the reason the old version looks better than current is because the yellow table data is distinct and you can clearly see headers and sub headings with table change. Not sure if the alternate white and darker white is a good idea.  I guess you can improve the table headers of the older image as well by changing colour scheme to match the style of the page.

[2021-11-11 14:57] humphd opened #63 "Use responsive images where appropriate"
In #46 we're adding the [Docusaurus ideal-image plugin](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-ideal-image).  It lets you use an `<Image />` component in your Markdown, and then automatically generates ideal image sizes, based on props you include:

[code]

We should look at where to use this in our docs.  Ideal candidate images would be those that are large enough, and can be g

[2021-11-11 16:12] humphd opened #64 "Standardize frontmatter across all pages"
In https://github.com/Seneca-ICTOER/IPC144/pull/61/files#diff-e9bdd80935a7058d016ee32cb30d64969fd2d18cc9324d64a33b0557b18b12c9 and https://github.com/Seneca-ICTOER/IPC144/pull/60/files#diff-be05c13053f9c29afd50066de996d568f9913764c46318677fd945bd9a5c008dR2 we're starting to see a standard emerge for Markdown frontmatter.  For example:

[code]

The full list of properties we can define is at https:

[2021-11-11 16:17] humphd opened #65 "Improve usability of PDF"
In #41 we're working on dynamically generating a PDF of the entire site's contents.  It's going to be great to finallly have this.

The [PDF that gets generated now](https://github.com/Seneca-ICTOER/IPC144/files/7491025/Seneca-IPC144.pdf) is OK, but not as good as I'd like.

Let's see if we can improve some things:

- Improve cover page
- add pagination
- Remove web-only artifacts like "On this pa

[2021-11-11 16:18] humphd opened #66 "Convert ASCII Collating Sequence to text/table"
Currently we are using an image for the ASCII Collating Sequence, see https://cghub.ca/Resources-Appendices/ascii-collating-sequence.  This isn't accessible, and should be converted into text and a Markdown table.

[2021-11-11 16:19] humphd opened #67 "Convert EBCDIC Collaging Sequence to text/table"
Currently we are using an image for the EBCDIC Collating Sequence, see https://cghub.ca/Resources-Appendices/ebcdic-collating-sequence.  This isn't accessible, and should be converted into text and a Markdown table.

[2021-11-11 16:21] humphd commented on #63
We're seeing a lot of people trying to do image centering with various CSS techniques.  Instead of inventing our own, let's rely on what we get for free from IdealImage.  NOTE: it is actually based on https://github.com/endiliey/react-ideal-image, which does a lot for us.

[2021-11-11 16:53] TueNguyen2911 commented on #65
More thing(s) I want to add:
* Generate correct headers. If we generate the pdf through `localhost`, the clickable headings will redirect us to, for example, `localhost:3000/schedule`  which will not work if the server is not running

I'll add to the list if I can find more

[2021-11-11 21:27] ycechungAI opened #69 "Update Dependencies to run algolia-scraper.yml"
Make the proper dependencies and builds on CI, enabling user groups for docker?
ie. You need python 3.6.15 or newer with pyenv installed.
Refer to the following
[https://docsearch.algolia.com/docs/legacy/run-your-own](run-your-own)

## Setup

You need to go through the steps of signup up for an account etc listed on  CONTRIBUTION.md for Search section.
Refer to #10 for information on environment v

[2021-11-11 21:31] ycechungAI opened #70 "Integration after completing #69 and finished running <index>.json"
- [ ] - Integration - https://docsearch.algolia.com/docs/legacy/dropdown
- [ ] - Maybe look into https://docsearch.algolia.com/docs/record-extractor - not sure how this works? v3

## Setup
- refer to #10 (parent issue)
- related issues #69

[2021-11-11 22:21] aserputov commented on #66
@humphd, could you please assign me to this issue? I would like to convert picture into table and see how to combine it with #46

[2021-11-11 22:21] humphd commented on #66
done

[2021-11-12 02:47] #14 closed

[2021-11-12 03:15] Yoda-Canada commented on #44
When the web page changed to dark model, the downward arrows and the letter in the bottom right corner are not clear. I save the image in the img folder and link it to the information page. The issue fixed.![3f69ac9f38ed3d2cb15f490eedd3e0d](https://user-images.githubusercontent.com/55161917/141400730-03425a18-79d3-45b3-978f-4bcb1fd39e22.png)

[2021-11-12 05:17] mkim219 commented on #67
@humphd  Can I work this issue?

[2021-11-12 14:04] humphd commented on #67
Please do, @mkim219

[2021-11-14 20:47] a-rokay commented on #63
`input-functions.md` is in need of this.

[2021-11-15 01:53] dhillonks opened #79 "Audit and fix `functions-arrays-and-structs.md`"
This is a sub-task of #18

## To-do
- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in a Mobile browser. Does it look OK? Are there any issues that

[2021-11-15 01:55] dhillonks commented on #18
Can I work on `functions-arrays-and-structs.md`? #79

[2021-11-15 03:21] Yoda-Canada commented on #44
The "https://github.com/Seneca-ICTOER/IPC144/blob/main/docs/A-Introduction/information.md" cannot display images. I change the path from  "/img/bytenibbit.jpg" to  "../../static/img/bytenibbit.jpg".
![1636946432](https://user-images.githubusercontent.com/55161917/141717181-2e2516c4-be86-4457-ab6a-269c6642ebff.png)

[2021-11-15 19:32] rclee91 opened #82 "Audit and fix `more-input-and-output.md`"
Sub-issue of #18.
Auditing and fixing `more-input-and-output.md` based on the following tasks:

## Tasks
- [x]     Look for any typos
- [x]     Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x]     Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [

[2021-11-16 13:09] humphd commented on #79
Go for it @dhillonks

[2021-11-16 16:57] rclee91 commented on #18
Hi, can I work on `more-input-and-output.md` #82 . Thanks!

[2021-11-16 20:16] JiaHua-Zou opened #85 "Audit and fix `records-and-files.md`"
I would like to audit and fix the  `records-and-files.md` mention on [issue-#18](https://github.com/Seneca-ICTOER/IPC144/issues/18).
Auditing and fixing based on the following tasks:

## Tasks

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desk

[2021-11-16 20:18] JiaHua-Zou commented on #18
can I work on `records-and-files.md`  mention on [#85](https://github.com/Seneca-ICTOER/IPC144/issues/85).

[2021-11-16 20:36] abatomunkuev opened #86 "Audit and fix `testing-and-debugging.md`"
Hello! I would like to work on `testing-and-debugging.md` file.
This is a sub-task of issue #18

I will audit and fix based on the following checks:

- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any

[2021-11-16 20:38] abatomunkuev commented on #18
Hello! I would like to work on `testing-and-debugging.md`, that is mentioned in issue #86

[2021-11-16 21:37] MizuhoOkimoto opened #87 "Audit and fix `output-functions.md`"
Hi, I would like to work on  `output-functions.md` mentioned on [issue-#18](https://github.com/Seneca-ICTOER/IPC144/issues/18).

## Tasks
- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that

[2021-11-16 21:40] MizuhoOkimoto commented on #18
Hi! I would like to work on `output-functions.md`. I filed the issue in #87

[2021-11-16 22:02] DerekJxy opened #88 "Audit and Fix two-dimensional-arrays.md"
Hi! I would like to work on the two-dimensional-arrays.md that mentioned in issue #18

__Check List__
Here are some things to consider:

- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that n

[2021-11-16 22:03] Antonio-Bennett opened #89 "Audit and fix pointers-arrays-and-structs.md"
I would like to complete pointers-arrays-and-structs-md based on the following checklist mentioned in #18

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check t

[2021-11-16 22:03] DerekJxy commented on #18
Hi! I would like to work on `two-dimensional-arrays.md`. As I mentioned in issue #88 .

[2021-11-17 03:34] lmpham1 opened #90 "Audit and fix `types.md`"
Part of #18
Audit and fix [`type.md`](https://github.com/Seneca-ICTOER/IPC144/blob/main/docs/B-Computations/types.md)

### Checklist

- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that need

[2021-11-17 08:03] lmpham1 commented on #18
Hello @humphd, I'd like to work on `[type.md`](https://github.com/Seneca-ICTOER/IPC144/blob/main/docs/B-Computations/types.md).
Issue link: https://github.com/Seneca-ICTOER/IPC144/issues/90

[2021-11-17 18:33] tcvan0707 opened #94 "Audit and fix `portability.md`"
Part of [#18](https://github.com/Seneca-ICTOER/IPC144/issues/18)
Audit and fix `portability.md`

**Check List:**
- [X] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] C

[2021-11-17 18:46] tcvan0707 commented on #18
Hello @humphd, I would like to work on `portability.md`
Here is my issue: [#94](https://github.com/Seneca-ICTOER/IPC144/issues/94)

[2021-11-17 23:16] #33 closed

[2021-11-17 23:17] lmpham1 commented on #90
hey @humphd, so I turn one of the tables into SVG and make them scalable, but I think it looks too small on mobile screen. This is not even the widest table in the page
![image](https://user-images.githubusercontent.com/43410858/142297488-ec9c7aeb-e2dd-41d7-a460-bf1062e43533.png)

What do you think is the best approach to this? I was thinking maybe we can separate each byte (each 8 columns) into i

[2021-11-17 23:19] Yoda-Canada commented on #44
@humphd Do you mind I close PR#81 and create a new PR? I have modified all issues according to classmates' reviews, but there are lots of commits. There is a big problem and I can't squash them to one commit. The branches are becoming more and more complex. I feel I can't repair them

[2021-11-17 23:21] lmpham1 commented on #90
Like something like this
![image](https://user-images.githubusercontent.com/43410858/142298172-4c20a6e0-009e-48f3-80f2-b4117f2e732c.png)

[2021-11-17 23:39] #28 closed

[2021-11-18 00:24] tpmai22 opened #99 "Audit and fix `character-strings.md`"
Part of #18
Audit and fix `character-strings.md`

[2021-11-18 00:29] tpmai22 commented on #18
I can work on `character-strings.md`  see #99 @humphd

[2021-11-18 01:07] humphd commented on #44
Alright.  NOTE: you need to not `pull` into your branch.  When you `pull` it does a `fetch` and a `merge`.  You should be on the `main` branch only when you `pull`.  Please figure out the workflow before you begin on it again.

[2021-11-18 02:40] lmpham1 commented on #90
Actually, I think I might turn them into images instead, since that looks like what most others are doing

[2021-11-18 15:39] #38 closed

[2021-11-18 15:42] #29 closed

[2021-11-18 15:47] #66 closed

[2021-11-18 15:51] #45 closed

[2021-11-18 15:56] #82 closed

[2021-11-18 16:12] #39 closed

[2021-11-18 16:53] #49 closed

[2021-11-18 19:09] #12 closed

[2021-11-18 20:08] #51 closed

[2021-11-18 21:56] japneetsingh035 commented on #18
Did someone work on library-functions.md? if available, please let me know @humphd

[2021-11-18 22:43] humphd commented on #18
@japneetsingh035, go for it, it's all yours.

[2021-11-18 22:48] japneetsingh035 opened #105 "Audit and fix library-functions.md"
Part of #18
Audit and fix library-functions.md

Check List

- [x] Look for any typos
- [x] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [x] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [x] Check the page in a Mobile browser. Does it look OK? A

[2021-11-18 23:02] #87 closed

[2021-11-19 02:42] humphd opened #106 "Fix Broken Links"
When we run `yarn build` on `main`, it errors with lots of broken links:

[code]

[2021-11-19 02:44] humphd opened #107 "Run yarn build, prettier-check on every PR in GitHub Actions"
In #106 we ran into an issue where we have broken links which means we can't complete a build.  Let's add a `yarn build` step to our pull request CI workflow, such that every PR gets fully built, and if it fails we can spot it immediately.

[2021-11-19 02:55] humphd commented on #106
It looks like a lot of these are due to the `#anchor` addition on the end.  I bet Docusaurus is having issues with it.  I also notice:

@CameronGray1210 should we disable the broken link check so it will pass?

[2021-11-19 03:03] Kevan-Y commented on #106
@humphd Probably, the `slug` option is some md files, that causing this issue.

https://github.com/Seneca-ICTOER/IPC144/blob/1941712a5dce6a23011cd4440b10872630221fa1/docs/A-Introduction/computers.md?plain=1#L25

https://github.com/Seneca-ICTOER/IPC144/blob/1941712a5dce6a23011cd4440b10872630221fa1/docs/F-Refinements/algorithms.md?plain=1#L5

The link should be `/refinements/algorithms` instead of `

[2021-11-19 03:06] humphd commented on #106
Interesting.  What about `-> linking to /A-Introduction/computers#central-processing-unit (resolved as: /A-Introduction/computers)`, isn't that the extra anchor?

[2021-11-19 03:12] Kevan-Y commented on #106
https://github.com/Seneca-ICTOER/IPC144/blob/1941712a5dce6a23011cd4440b10872630221fa1/docs/B-Computations/testing-and-debugging.md?plain=1#L21

Changed ` [CPU](/A-Introduction/computers#central-processing-unit "Central Processing Unit")` to `[CPU](/introduction/computers#central-processing-unit "Central Processing Unit")`

[2021-11-19 03:18] Kevan-Y commented on #106
We should decide to use `slug` to rename the path or use the folder as path name.

[2021-11-19 03:21] Kevan-Y commented on #106
I can work on this issue if no one wants it.

[2021-11-19 03:22] humphd commented on #106
@Kevan-Y that would be amazing, thank you.

[2021-11-19 03:34] Kevan-Y commented on #106
@humphd
Solution 1:
Should we add `slug` for every .md file and relink every link.

[code]

compilers will be `/Introduction/compilers ` instead of  `/A-Introduction/compilers `.
a-simple-calculation will be `/Computations/a-simple-calculation` instead of  `/B-Computations/a-simple-calculation`

Solution 2: remove slug on every .md file, it should fix that too.

Why do we need to add `slug`?

[2021-11-19 03:35] CameronGray1210 opened #109 "Change publish domain to new domain"
Begin using new domain for production builds/publishing.  The old "cghub.ca" will be replaced with "sdds.ca".  This OER will have a pointer to "ipc144.sdds.ca".

[2021-11-19 03:44] humphd commented on #106
We need @CameronGray1210 to weigh in on this.  The value of a slug is that it makes a URL pretty, and easier to share (if done well).  We can achieve something similar by using "pretty" directory/file names.  Either works.

[2021-11-19 03:47] #109 closed

[2021-11-19 04:03] #40 closed

[2021-11-19 16:22] humphd opened #111 "Improve layout of ASCII Table"
In #80 we converted the ASCII Table from an image to text.  We'd like to do another improvement to the layout: put the Capital and lowercase ASCII letters across from each other, so it's easier to scan through and find both.  Here's an example of what we mean:

https://upload.wikimedia.org/wikipedia/commons/1/1b/ASCII-Table-wide.svg

Notice how A and a are beside each other:

<img width="388" alt=

[2021-11-19 16:27] humphd opened #112 "Figure out highlighting colour(s) and strategy for light and dark mode"
We have places were we want to highlight something (e.g., cells in a table) by using a background colour.  For example, the cells in this table on the right:

![](https://user-images.githubusercontent.com/52294825/142270767-6bc5bcad-a43a-4b66-bee3-ca044f0eea2d.png)

When we switch to dark mode, this doesn't work well.  We need to find a colour, or two colours, that can be used for this, and apply

[2021-11-19 16:32] #94 closed

[2021-11-19 16:53] humphd opened #113 "Bring all images from ict.senecacollege.ca into the repo"
See https://github.com/Seneca-ICTOER/IPC144/search?q=https%3A%2F%2Fict.senecacollege.ca%2F for instances where we're still linking to (images) on the old IPC144 site.  These should all be changed to bring the images into this repo and linked to locally.

[2021-11-19 17:01] humphd opened #114 "http://ipc144.sdds.ca/ not forwarding to https://ipc144.sdds.ca/"
I notice that http://ipc144.sdds.ca/ is not automatically forwarding to https://ipc144.sdds.ca/.  You might need to set this up in your DNS.  If people load it over http some things will break.  The web has to use https now.

[2021-11-19 18:12] #13 closed

[2021-11-19 18:42] humphd commented on #106
#117 is a bandaid fix for this

[2021-11-19 18:44] humphd commented on #107
In #117 we're turning this from a fatal error to a warning.  Once this is done, let's go back to having it be an error so that we can catch it in CI.

[2021-11-19 19:53] #79 closed

[2021-11-19 20:18] #85 closed

[2021-11-20 01:21] #105 closed

[2021-11-21 16:19] humphd opened #120 "Experiment with converting Raster images to SVGs"
There's a new web-based tool for converting raster images to SVG by the Chrome team:

Introducing SVGcode: a PWA to convert raster images 🎨 to SVG vector graphics 📐!

- 🔖 Announcement: https://t.co/9qH5fzib6Y
- 📦 App: https://t.co/jMHV4SBHoq
- 🍿 Video: https://t.co/1FOKQq65pB

Let's experiment with converting some of our raster images to SVGs with it, and see if we can use this.

[2021-11-23 18:08] Kevan-Y commented on #113
Can I work on this issue?

[2021-11-23 18:09] humphd commented on #113
@Kevan-Y that would be great

[2021-11-25 07:12] lyu4321 commented on #112
Hi @humphd, could I work on this?

[2021-11-25 07:13] lyu4321 commented on #120
Hi @humphd, could I work on this as well? :)

[2021-11-25 14:47] humphd commented on #112
Absolutely, go for it.

[2021-11-25 14:48] humphd commented on #120
Sure, that would be great.  NOTE: I have no idea how effective this will be.  You might find that it's a waste of time, or that it works for a subset of images, or that it's perfect.  See what you discover.

[2021-11-25 14:50] humphd opened #122 "Audit and fix E-Secondary-Storage/text-files.md"
- Look for any typos
- Make sure all Markdown is correctly done.  The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- Check the page in a Desktop browser.  Does it look OK?  Are there any issues that need to be fixed?
- Check the page in a Mobile browser.  Does it look OK?  Are there any issues that need to be fixed?
- Try the page in both Light

[2021-11-25 14:51] humphd opened #123 "Audit and fix Resource-Appendecies/data-conversions.md"
- Look for any typos
- Make sure all Markdown is correctly done.  The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- Check the page in a Desktop browser.  Does it look OK?  Are there any issues that need to be fixed?
- Check the page in a Mobile browser.  Does it look OK?  Are there any issues that need to be fixed?
- Try the page in both Light

[2021-11-25 14:52] humphd commented on #18
At this stage, every document has been finished, started, or an issue is filed separately.  Nice work everyone.  Please follow-up in new issues. Closing.

[2021-11-25 14:52] #18 closed

[2021-11-25 14:57] humphd opened #124 "Build PDF in deployment and include when we publish to GH-Pages"
We have PDF support in place, and automatic deployment on GitHub Actions to GH-Pages.  We need to combine these so that we automatically run our pdf scripts in https://github.com/Seneca-ICTOER/IPC144/blob/main/.github/workflows/deployment.yaml, and copy the generated PDF to the built Docusauraus site as a static file.  We can then add a link in the Docusaurus site to allow users to download it.

c

[2021-11-25 15:05] trangntt-016 commented on #124
Hi @humphd , I would like to take this

[2021-11-25 15:12] humphd commented on #124
Great, all yours.

[2021-11-25 15:36] #52 closed

[2021-11-25 15:42] #89 closed

[2021-11-25 15:45] #99 closed

[2021-11-25 15:50] humphd commented on #114
This has been fixed via GitHub Pages setup.

[2021-11-25 15:50] #114 closed

[2021-11-25 16:11] humphd opened #125 "Implement lunr based client-side search"
In #10 we started to explore using search in the site.  We discovered that we really want a purely static index hosted as part of the site, and using JS in the browser to do the search.  A common way to do this on the web is with https://lunrjs.com/.

Luckily there are [multiple lunr-based search plugins](https://docusaurus.io/community/resources#search) we can try.

Let's start with https://githu

[2021-11-25 16:12] humphd commented on #10
Closing in favour of #125

[2021-11-25 16:12] #10 closed

[2021-11-25 16:14] humphd opened #126 "Use /img vs. static/img for all image URLs"
We have a [few places](https://github.com/Seneca-ICTOER/IPC144/search?q=static%2Fimg) where we include the `static/` dir in our image URLs.  We don't need this.  They can all be `/img/*`.

@Kevan-Y do you have interest in this, since you're working on the other image import?

[2021-11-25 16:18] humphd opened #127 "Centre all Markdown Tables"
We'd like to find a solution so that we can automatically (e.g., through CSS) centre all tables in Markdown.  Doing so might mean we have to wrap all `<table>` elements in a `<div>` and set its alignment.  But there might be an easier way.

[2021-11-25 16:29] joshuali7536 commented on #111
Hi I would like to help fix this issue.

[2021-11-25 16:30] joshuali7536 commented on #122
Hi, I can take a look at this issue as well.

[2021-11-25 16:30] joshuali7536 commented on #123
Hi, can I also work on this issue too?

[2021-11-25 16:32] joshuali7536 commented on #127
Hi, can I also work on this one too?

[2021-11-25 16:57] humphd commented on #127
Yes, assigned.

[2021-11-25 16:58] humphd commented on #123
Assigned.

[2021-11-25 16:59] humphd commented on #122
Assigned

[2021-11-25 16:59] humphd commented on #111
Assigned

[2021-11-26 01:54] Kevan-Y commented on #126
I can work on it too, I can fix it in my other PR

[2021-11-26 01:56] Kevan-Y commented on #106
Any update? @CameronGray1210

[2021-11-26 14:56] #24 closed

[2021-11-26 14:57] humphd commented on #107
Let's also include `prettier-check` so we catch people forgetting to run `prettier` on their changes, now that #50 has been merged.

[2021-11-26 15:43] Kevan-Y opened #129 "Use React style naming for HTML attributes (className, colSpan)"
**Desctiption**
When running in the development mode.
There is some console error in some pages.
For example:
![image](https://user-images.githubusercontent.com/58233223/143604507-93c694c0-03ef-4bd9-a224-e761954ff837.png)
![image](https://user-images.githubusercontent.com/58233223/143604536-dd951b37-0954-4514-8a58-a9159cbf5cd9.png)

Check all the pages and fix those issues.

[2021-11-26 15:48] humphd commented on #129
See https://github.com/Seneca-ICTOER/IPC144/search?q=colspan

In HTML, `colspan` is correct.  But in MDX (Markdown with React), we need to use `colSpan`

[2021-11-26 15:54] Kevan-Y commented on #129
https://github.com/Seneca-ICTOER/IPC144/search?q=class

Also for `class`, it should be `className`.

[2021-11-26 16:26] Kevan-Y commented on #129
Will work on this issue.

[2021-11-26 18:03] #129 closed

[2021-11-27 13:21] ycechungAI commented on #125
I will work on this thanks

[2021-11-29 00:40] trangntt-016 commented on #124
Hi @humphd,

Where do you want me to put the download link on the Docusaurus site?

![image](https://user-images.githubusercontent.com/60552188/143793100-5b548283-84ec-44c8-bfd5-3ce039862336.png)

[2021-11-29 00:53] humphd commented on #124
Maybe in the footer?  cc @CameronGray1210 for thoughts.

[2021-11-29 02:31] CameronGray1210 commented on #124
The footer is a good place! Thanks.

[2021-11-29 02:35] #126 closed

[2021-11-29 02:35] #113 closed

[2021-11-29 21:57] Yoda-Canada commented on #44
close this issue since PR 119

[2021-11-29 21:57] #44 closed

[2021-11-30 01:59] mqnguyen5 commented on #107
@humphd I can work on this one.

[2021-11-30 02:58] humphd commented on #107
@mqnguyen5 absolutely, go for it.  Thank you!

[2021-11-30 22:25] nguyenhung15913 commented on #63
Hi @humphd, I am new to this project and this issue is interesting. Which specific files should I apply this features?

[2021-11-30 22:41] humphd commented on #63
@nguyenhung15913 it's a good question.  There's a few things we need:

- centering the images horizontally, which this plugin will do
- creating different sizes of larger images.  This will depend on finding some bigger images.  You might start by looking at the file sizes of the existing images and focus on a few large ones to learn.

[2021-12-01 00:20] humphd opened #132 "Use correct license"
I noticed that the IPC144 notes already had a license (CC by 2.5 CA), which we should have used: https://ict.senecacollege.ca/~ipc144/pages/copyright.html.  I totally missed this when setting this up, apologies.  It wasn't intentional.

Let's fix so we're in compliance.

[2021-12-01 00:47] nguyenhung15913 opened #133 "React errors/warnings on page load"
After running <code>yarn install</code> and <code>yarn start</code>, <code>localhost:3000</code> ran in the browser but the site was empty.
Below is the console with errors:
![image](https://user-images.githubusercontent.com/69558780/144151245-b352c118-526c-4bae-bc97-08552f0898c0.png)

[2021-12-01 00:54] dbelokon commented on #133
I would like to work on this 😄 Can I get more details about the configuration? How would I reproduce this bug?

[2021-12-01 00:56] humphd commented on #133
@nguyenhung15913 has given steps to reproduce in the first comment, namely:

- pull `main` so you're up to date
- `yarn` to install dependencies
- `yarn start`
- browser to `localhost:3000`
- confirm the errors in the console

[2021-12-01 00:58] nguyenhung15913 commented on #133
Somehow the site is working successfully after I restarted my laptop.

[2021-12-01 01:08] CameronGray1210 commented on #132
Thanks for noticing this David.

[2021-12-01 01:26] HyperTHD commented on #133
Just for future reference, unless you're making a hook function, hooks like `useState` and `useEffect` always belong inside the component function being created at the top level and no where else.

[2021-12-02 02:35] #132 closed

[2021-12-02 04:40] dbelokon commented on #133
Yeah, I can confirm. As per my screenshot, no errors are shown:

![image](https://user-images.githubusercontent.com/67607236/144358853-bb65db50-e8fb-4722-9650-1c40214ff54a.png)

Maybe there was no error at all?

[2021-12-02 13:50] humphd commented on #133
OK, great news.  Thanks for testing, everyone.

[2021-12-02 13:50] #133 closed

[2021-12-02 15:40] CameronGray1210 opened #136 "PWA Application Link - Link Name"
Change link name in footer area...

From: "Add to Home Screen"
To:  "Install as an App"

cc @Kevan-Y

[2021-12-02 15:44] CameronGray1210 commented on #69
Will be using other search options.

[2021-12-02 15:44] #69 closed

[2021-12-02 15:48] CameronGray1210 commented on #106
Let's remove the "slugs" and go with file paths for linking.

[2021-12-02 15:49] CameronGray1210 commented on #64
Decided NOT to use SLUG's in frontmatter.

[2021-12-02 16:10] joshuali7536 commented on #122
I'm gonna make a checklist here so it's easier for me to keep track.

## Checklist
This Audit will include the following checks:
- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to b

[2021-12-02 16:11] joshuali7536 commented on #123
## Checklist
This Audit will include the following checks:
- [ ] Look for any typos
- [ ] Make sure all Markdown is correctly done. The conversion was done automatically by a tool, so there may be more idiomatic ways to do some things
- [ ] Check the page in a Desktop browser. Does it look OK? Are there any issues that need to be fixed?
- [ ] Check the page in a Mobile browser. Does it look OK? Ar

[2021-12-02 17:24] Kevan-Y commented on #136
Sure I will change it.

[2021-12-02 18:10] #136 closed

[2021-12-02 18:52] kiennguyenchi opened #138 "Add 3 pages to Navigation Bar"
I would like to add 3 more pages to the navigation bar.

- [ ] 1/ Course Outline:
* When student clicks on Course Outline on navigation bar, it will direct student to [IPC144 Course Outline](https://www.senecacollege.ca/ssos/findwithoutsemester/ipc144/sict)
- [ ] 2/ Workshops:
* I would like to create a *Workshops page*.
* When student clicks on **Workshops** on navigation bar, a *Workshops page*

[2021-12-02 21:47] tcvan0707 commented on #65
Hello @humphd , can i give this issue a try? Thank you

[2021-12-02 21:54] humphd commented on #65
@tcvan0707 Sure thing.

[2021-12-03 00:55] #111 closed

[2021-12-03 01:07] CameronGray1210 commented on #138
@kiennguyenchi : Thanks for the idea's, however one our primary directives in doing this open source course notes is to decouple the integration of workshops and projects.  Workshop and project links are provided to students using other less public methods (LMS/Blackboard).  The course outline as well is something that is made available via the LMS (Blackboard) and should not be part of the course

[2021-12-03 01:07] #138 closed

[2021-12-03 21:18] lyu4321 commented on #120
Hi @humphd, I was wondering what you thought about also trying other tools for converting images such as Illustrator or Inkscape?

[2021-12-03 21:50] humphd commented on #120
I'm open to whatever you want to try.

[2021-12-03 22:44] MizuhoOkimoto commented on #64
Hi, I would like to work on it. Thank you!

[2021-12-03 22:45] humphd commented on #64
#102, #140, #141, will need careful review/help from you so that they use your new standard.

[2021-12-03 22:49] #106 closed

[2021-12-03 23:05] MizuhoOkimoto commented on #64
I have a question about code blocks in the .md files. When people worked on #18 , some people deleted extra indentations, and others didn't. Which code format would you prefer?

For example,
- Keep indentations: #94
<img src="https://user-images.githubusercontent.com/54873998/144683575-b7d7df84-cc9f-44da-a4d4-2721d97ec427.png" width="430">

- Delete indentations: #88
<img src="https://user-images.

[2021-12-04 00:41] humphd commented on #64
I think Prettier will standardize it to 2-spaces.  Some files probably need to have prettier run on them (in PRs).

[2021-12-04 01:42] MizuhoOkimoto commented on #64
Okay, I will do the reviews in PRs and also check other files and make them standardized. Thank you, @humphd !

[2021-12-05 00:32] Andrewnt219 commented on #31
+100 for this, DM if I can help with anything (maybe the editor?).

[2021-12-05 03:33] humphd commented on #31
I would love to see some collaboration between you two on this!

[2021-12-06 21:51] JerryHue commented on #31
For sure! I will try to come up with a really crude text area to mostly work on the compiler part of it, and we can collaborate on the text editing work

[2021-12-07 08:30] nguyenhung15913 commented on #63
@humphd Hi David, I applied and use Plugin-ideal-image but there was not any prop to center image. Should I keep the original method inside the <code>src/css/custom.css</code>
![image](https://user-images.githubusercontent.com/69558780/144993783-5d63991b-e2b5-44a7-af17-7981ccde148e.png)

[2021-12-07 09:44] nguyenhung15913 commented on #63
@humphd Also the props which are <code>sizes<code> and <code>size</code> do not work.
[code]
However <code>width</code> of react ideal image works.

[2021-12-08 02:43] #107 closed

[2021-12-08 14:45] joshuali7536 commented on #127
@humphd How would I go about wrapping all `<table>` elements globally with a `<div>`?

[2021-12-08 14:53] humphd commented on #127
You'd have to do it manually.  But I think you can do this with CSS on the `table` elements.  Here's my quick test with dev tools:

<img width="1039" alt="Screen Shot 2021-12-08 at 9 51 58 AM" src="https://user-images.githubusercontent.com/427398/145229513-7eb15812-e980-4463-8bb0-e3c83de42c3d.png">

[code]

This could be turned into a class we apply to tables maybe, or could be done globally to al

[2021-12-08 15:00] joshuali7536 commented on #127
Oh yes that works, I was originally working with the `<table>` elements directly but was having trouble because `margin-left: auto` and `margin-right: auto` weren't doing anything. I did not realize I needed to have `width: fit-content` as well.

[2021-12-09 14:27] #127 closed

[2021-12-09 18:18] tcvan0707 commented on #125
Hi @humphd, can I still work on this issue?

[2021-12-09 18:24] humphd commented on #125
@tcvan0707 fine with me.  I think @ycechungAI decided to do other things (correct me if this is wrong).

[2021-12-09 19:39] ycechungAI commented on #125
Correct

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: David Humphrey ***@***.***>
Sent: Thursday, December 9, 2021 1:24:54 PM
To: Seneca-ICTOER/IPC144 ***@***.***>
Cc: Eugene Chung ***@***.***>; Mention ***@***.***>
Subject: Re: [Seneca-ICTOER/IPC144] Implement lunr based client-side search (Issue #125)

[EXTERNAL EMAIL] Please take caution when clicking l

[2021-12-12 22:05] #122 closed

[2021-12-12 22:07] #123 closed

[2021-12-12 22:15] #112 closed

[2021-12-12 23:10] CameronGray1210 opened #150 "Admonitions: Missing some updates to the improved 'iconified' type"
These topics still have the plain admonitions.  These need updating to use icon-based admonitions:

Output Functions
Library Functions
Character Strings

[2021-12-12 23:13] CameronGray1210 opened #151 "Fix admonition that has taken over the document!"
Topic document: **More Input and Output**

There is an admonition halfway down in the page that appears to be missing a closing tag and the remaining document is "admonitioned"!

[2021-12-13 19:35] tcvan0707 commented on #151
I will check it and figure out what is wrong with this page. Thank you

[2021-12-13 19:55] tcvan0707 commented on #150
Hello, may I work on this too? Thank you.

[2021-12-14 02:43] #151 closed

[2021-12-14 13:21] #150 closed

[2021-12-14 13:37] #64 closed

[2021-12-17 20:37] CameronGray1210 opened #156 "Move Weekly Schedule to appendix section"
In an effort to maintain the course notes as "generic" and non-course specific the weekly schedule must be extracted from the main menu content and moved:

1. Move the "weekly schedule.md" document to the appendix section and rename to "Suggested Weekly Schedule".
2. Remove "Weekly Schedule" from the footer entirely

A new issue will be created to complete this transition which will replace any sp

[2021-12-17 20:45] CameronGray1210 opened #157 "Make course notes GENERIC - Part I"
An a true OER, the content should ideally not reference anything course specific which would include the course code like "ipc" or "ipc144" etc.. Instead, the main URL and text content should be updated accordingly.

- [x] Top left logo section:  Replace text "IPC144" with "Introduction to C"

[2021-12-17 20:46] CameronGray1210 opened #158 "Make course notes GENERIC - Part II"
An a true OER, the content should ideally not reference anything course specific which would include the course code like "ipc" or "ipc144" etc.. Instead, the main URL and text content should be updated accordingly.

Address any URL references to "ipc144.sdds.ca" to reference "intro2c.sdds.ca".  A grep result of IPC references produces the following that should be reviewed:
- [x] /.github/workflow

[2021-12-17 21:32] #156 closed

[2021-12-18 04:29] CameronGray1210 commented on #157
Logo section updated including footer title.

[2021-12-18 04:29] #157 closed

[2021-12-18 13:37] CameronGray1210 commented on #158
Need to finish off some straggling references to the old IPC.

[2021-12-18 14:07] #158 closed

[2021-12-18 14:42] CameronGray1210 opened #163 "Link to download PDF: Breaks if not on home/root page"
**Problem**: The link in the footer section to download the content PDF breaks most of the time as it only works if you are on the landing/index page.

**Cause**: The link is relative to the active loaded page.

**Example**:
1.	If I activate the page on “compilers”
2.	The current URL becomes: /A-Introduction/compilers
3.	The download link for the PDF becomes: “/A-Introduction/Introduction-to-C.pdf

[2021-12-24 21:05] CameronGray1210 opened #164 "Replace types.md tables with images"
RE Markdown file: ***B-Computations/types.md***

**Work to be done**
- Convert tables depicting memory layout for various data types to images

**Reasons**
- Scaling (especially 64-bit) tables is not working nicely and can be better accomplished as images
- These don't need to be tables as they are depictions/illustrations of how memory is allocated

[2021-12-29 14:26] CameronGray1210 opened #166 "Content Update: types.md and Logic.md"
Cosmetic: Emphasize some key parts (bold, admonitions etc.)
Text: Minor corrections/refinements

[2021-12-30 01:58] #164 closed

[2021-12-30 01:58] #166 closed

[2021-12-30 02:21] CameronGray1210 opened #168 "Generated PDF (GitHub Action): missing many images"
Generating the PDF on local machine will properly include all images, however, the automated PDF generation on GitHub fails to render many images.

[2021-12-30 02:47] humphd commented on #168
Which one(s)?  cc @TueNguyen2911

[2021-12-30 16:09] CameronGray1210 commented on #168
Far too many to list (issue persists throughout all documents). It appears random and I don't see a pattern based on image type and syntax used in markdown - very perplexing.  Here are a few to references to get things started.  The generated PDF on GitHub misses the following images:

computer.md
- "Hardware": /img/programmer.png
- "Modern Computer": /img/hardware.png
- "Software": /img/software.

[2021-12-30 19:04] humphd commented on #168
This sounds like https://github.com/kohheepeace/mr-pdf/issues/37

[2022-01-12 20:27] CameronGray1210 commented on #168
Ahh.. yes that might very well be the cause.  I was able to replicate the missing images even on a local build.  When this happened, I then loaded all pages in the browser to build a cache, then generated the PDF and it worked.  So there seems to be a link to how it uses the cached images (or the slow loading of them) to the rendering in the PDF.

[2022-01-12 20:28] humphd commented on #168
The fix for this is to have the render wait on all images to load fully.  I think it's likely to get fixed upstream.

[2022-02-15 22:27] #168 closed

[2022-02-17 16:10] humphd opened #173 "Consider using Mermaid for Markdown diagrams"
[GitHub just added support](https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/) for [Mermaid](http://mermaid-js.github.io/mermaid/#/) in their Markdown, and it looks really cool.  It's also [compatible with Docusaurus](https://www.npmjs.com/package/mdx-mermaid), see https://sjwall.github.io/mdx-mermaid/docs/intro/

A bunch of the diagrams in the C notes could be done with this

[2022-11-11 05:30] Genne23v commented on #163
I think I can quickly fix this issue. Let me push my PR if it's ok.

[2022-11-11 13:33] humphd commented on #163
@Genne23v great, go for it.

[2022-11-11 14:39] Genne23v commented on #173
I'm not sure if we can keep all original intention with `mermaid`, this is how it looks from my initial drafting.
![Screen Shot 2022-11-11 at 9 38 20 AM](https://user-images.githubusercontent.com/59734889/201362680-9ae384c4-3b54-4832-bb56-a903038b6531.png)
Please let me know if I can go ahead with this on every page.

[2022-11-11 14:59] humphd commented on #173
I wouldn't make this about doing "every page" but rather try doing it on a single page so we can evaluate the process.

CC'ing @CameronGray1210 for input.

[2022-11-11 15:21] Genne23v commented on #173
Let me complete one page with my best styling efforts. Please review if this is a desired way.

[2022-11-11 15:39] humphd commented on #173
Yes, doing a small sample on one page is the right approach.  Small, iterative changes are better than all-or-none.

[2022-11-13 15:15] dadolhay opened #175 "Docusaurus is pinned to an outdated beta version"
`Docusaurus` and all other libraries it normally ships with should be upgraded to the versions that a fresh `create-docusaurus@latest` project employs

[2022-11-13 20:42] #175 closed

[2022-11-13 20:47] #163 closed

[2022-11-20 03:54] CameronGray1210 opened #178 "PDF file generation INCOMPLETE"
The PDF file generation is **creating only the TOC (table of contents) with links to localhost on port 3000** :(

Could this be due to #174?

[2022-11-20 14:43] humphd commented on #178
cc @Genne23v, @denke8.

We also updated a bunch of dependencies. Can you two do some investigation?  We need to unbreak this soon, or roll back whatever broke it.

[2022-11-21 14:08] dadolhay commented on #178
@CameronGray1210, @humphd
Do we have a specific version (i.e., git commit hash) that is known to be working?

[2022-11-21 15:25] dadolhay commented on #178
I can also confirm that upgrading the following libraries:

[code]

 from `2.0.0-beta9` to `2.2.0` do indeed cause the issue, actually 2 of them:
- the following beeds to be updated to: (dom structure changed)  `--paginationSelector="a.pagination-nav__link--next"`
- It seems that `mr-pdf` (and the underlying `puppeteer`?) can no longer read the dev site (maybe the js build target has changed?) ...

[2022-11-21 15:30] humphd commented on #178
I wonder if we should explore other options.  For example, https://github.com/signcl/docusaurus-prince-pdf seems to be updated more recently.  If we can get `mr-pdf` to work with your `2.2.0` setup, great.  If not, let's try something new.

@dadolhay are you willing to work on this?

[2022-11-21 15:35] dadolhay commented on #178
@humphd

I did make mr-pdf work with the static served content locally, I should be able to integrate it into the build script I'd expect.
On the other hand, if you prefer, I could also explore prince-pdf too. (It may or may not work, I have no experience with it).

Which direction would you prefer?

[2022-11-21 15:36] humphd commented on #178
I would say if you can get what we have now working again, start there.  If we want to try switching to a new approach later, that should be a follow-up.

[2022-11-21 15:56] dadolhay commented on #178
@humphd

Upon further inspection I can see that the generation script already runs against the static site, so the development changes of docusaurus should not make any difference.

I created a small PR, that updates the selector mentioned above. The changes did work on local testing.